doctype html
html
   head
      title contact
      style 
        include ./style.css
   body
    include ./header.pug
    h1.homeTitle To Contact 
    h2 Mail : samygharsallah@hotmail.com 
    h2 tel : 54857558
    h2 website : solidsnake.com



      