doctype html
html
   head
    style 
        include ./style.css
   body
    div.title
        h1.logo My first express server 
            div.navbar
                a(href='http://localhost:3000/').navElement Home 
                a(href='http://localhost:3000/services').navElement Services
                a(href='http://localhost:3000/contact').navElement Contact
