doctype html
html
   head
      title  home
      style 
        include ./style.css
   body
    include ./header.pug
    h1.homeTitle Hello you are on samy's server
    h2 Working Days : Monday to Friday
    h2 Working Hours : from 9am to 7pm