doctype html
html
   head
        title services
        style 
            include ./style.css
   body
      include ./header.pug

      h1.homeTitle these are some of my services
      h2 Logo Design 
      h2 Flyers Design
      h2 React App
      h2 BackEnd Servers
      