body {
    background-color: rgb(248, 241, 231);
}
.title {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: burlywood;
    letter-spacing: 2px;
}
.navbar {
    display: flex;
    justify-content: center;
    gap: 5%;
}
.homeTitle {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    text-align: center;
    font-size: 5em;
}
h2 {
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
.navElement {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
